[submodule "tag-vim/config/nvim/bundle/ctrlp.vim"]
	path = tag-vim/config/nvim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "tag-vim/config/nvim/bundle/deoplete.nvim"]
	path = tag-vim/config/nvim/bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "tag-vim/config/nvim/bundle/elm.vim"]
	path = tag-vim/config/nvim/bundle/elm.vim
	url = git@github.com:lambdatoast/elm.vim.git
[submodule "tag-vim/config/nvim/bundle/neocomplete.vim"]
	path = tag-vim/config/nvim/bundle/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "tag-vim/config/nvim/bundle/nerdtree"]
	path = tag-vim/config/nvim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "tag-vim/config/nvim/bundle/supertab"]
	path = tag-vim/config/nvim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "tag-vim/config/nvim/bundle/syntastic"]
	path = tag-vim/config/nvim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "tag-vim/config/nvim/bundle/tabular"]
	path = tag-vim/config/nvim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "tag-vim/config/nvim/bundle/tagbar"]
	path = tag-vim/config/nvim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "tag-vim/config/nvim/bundle/tlib_vim"]
	path = tag-vim/config/nvim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "tag-vim/config/nvim/bundle/vCoolor.vim"]
	path = tag-vim/config/nvim/bundle/vCoolor.vim
	url = git@github.com:KabbAmine/vCoolor.vim.git
[submodule "tag-vim/config/nvim/bundle/vim-fugitive"]
	path = tag-vim/config/nvim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "tag-vim/config/nvim/bundle/vim-go"]
	path = tag-vim/config/nvim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "tag-vim/config/nvim/bundle/deoplete-go"]
	path = tag-vim/config/nvim/bundle/deoplete-go
	url = git@github.com:zchee/deoplete-go.git
[submodule "tag-vim/config/nvim/bundle/php.vim"]
	path = tag-vim/config/nvim/bundle/php.vim
	url = git@github.com:StanAngeloff/php.vim.git
[submodule "tag-vim/config/nvim/bundle/vim-hardtime"]
	path = tag-vim/config/nvim/bundle/vim-hardtime
	url = git@github.com:takac/vim-hardtime.git
[submodule "tag-vim/config/nvim/bundle/vimproc.vim"]
	path = tag-vim/config/nvim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "tag-vim/config/nvim/bundle/phpcomplete-extended"]
	path = tag-vim/config/nvim/bundle/phpcomplete-extended
	url = git@github.com:m2mdas/phpcomplete-extended.git
[submodule "tag-vim/config/nvim/bundle/vim-php-cs-fixer"]
	path = tag-vim/config/nvim/bundle/vim-php-cs-fixer
	url = git@github.com:stephpy/vim-php-cs-fixer.git
[submodule "tag-vim/config/nvim/bundle/tagbar-phpctags.vim"]
	path = tag-vim/config/nvim/bundle/tagbar-phpctags.vim
	url = git@github.com:vim-php/tagbar-phpctags.vim.git
[submodule "tag-vim/config/nvim/bundle/vim-surround"]
	path = tag-vim/config/nvim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "tag-vim/config/nvim/bundle/vdebug"]
	path = tag-vim/config/nvim/bundle/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule "tag-vim/config/nvim/bundle/vim-jsx"]
	path = tag-vim/config/nvim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "tag-vim/config/nvim/bundle/vim-javascript"]
	path = tag-vim/config/nvim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "tag-vim/config/nvim/bundle/unite.vim"]
	path = tag-vim/config/nvim/bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
[submodule "tag-vim/config/nvim/bundle/vim-addon-mw-utils"]
	path = tag-vim/config/nvim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "tag-vim/config/nvim/bundle/vim-snipmate"]
	path = tag-vim/config/nvim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "tag-vim/config/nvim/bundle/vim-snippets"]
	path = tag-vim/config/nvim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "tag-vim/config/nvim/bundle/vim-php-namespace"]
	path = tag-vim/config/nvim/bundle/vim-php-namespace
	url = git@github.com:arnaud-lb/vim-php-namespace.git
[submodule "tag-vim/config/nvim/bundle/vim-autotag"]
	path = tag-vim/config/nvim/bundle/vim-autotag
	url = git@github.com:craigemery/vim-autotag.git
[submodule "tag-vim/config/nvim/bundle/Nvim-R"]
	path = tag-vim/config/nvim/bundle/Nvim-R
	url = git@github.com:jalvesaq/Nvim-R.git
[submodule "tag-vim/config/nvim/bundle/ghcmod-vim"]
	path = tag-vim/config/nvim/bundle/ghcmod-vim
	url = git@github.com:eagletmt/ghcmod-vim.git
[submodule "tag-vim/config/nvim/bundle/neco-ghc"]
	path = tag-vim/config/nvim/bundle/neco-ghc
	url = git@github.com:eagletmt/neco-ghc.git
[submodule "tag-vim/config/nvim/bundle/nerdcommenter"]
	path = tag-vim/config/nvim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "tag-vim/config/nvim/bundle/vim-hdevtools"]
	path = tag-vim/config/nvim/bundle/vim-hdevtools
	url = git@github.com:bitc/vim-hdevtools.git
[submodule "tag-vim/config/nvim/bundle/vim-gitgutter"]
	path = tag-vim/config/nvim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "tag-vim/config/nvim/bundle/vim-easymotion"]
	path = tag-vim/config/nvim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "tag-vim/config/nvim/bundle/vim-indent-guides"]
	path = tag-vim/config/nvim/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "tag-vim/config/nvim/bundle/onedark.vim"]
	path = tag-vim/config/nvim/bundle/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "tag-vim/config/nvim/bundle/lightline.vim"]
	path = tag-vim/config/nvim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "tag-tmux/plugins/tpm"]
	path = tag-tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
