[submodule "tag-vim/vim/bundle/ctrlp.vim"]
	path = tag-vim/vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "tag-vim/vim/bundle/nerdcommenter"]
	path = tag-vim/vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "tag-vim/vim/bundle/nerdtree"]
	path = tag-vim/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "tag-vim/vim/bundle/supertab"]
	path = tag-vim/vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "tag-vim/vim/bundle/syntastic"]
	path = tag-vim/vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "tag-vim/vim/bundle/tabular"]
	path = tag-vim/vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "tag-vim/vim/bundle/vim-fugitive"]
	path = tag-vim/vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "tag-vim/vim/bundle/vim-indent-guides"]
	path = tag-vim/vim/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "tag-vim/vim/bundle/powerline"]
	path = tag-vim/vim/bundle/powerline
	url = git@github.com:powerline/powerline.git
[submodule "tag-vim/vim/bundle/vim-snipmate"]
	path = tag-vim/vim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "tag-vim/vim/bundle/vim-surround"]
	path = tag-vim/vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "tag-vim/vim/bundle/vim-addon-mw-utils"]
	path = tag-vim/vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "tag-vim/vim/bundle/vim-erlang-runtime"]
	path = tag-vim/vim/bundle/vim-erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime
[submodule "tag-vim/vim/bundle/vim-tmux-navigator"]
	path = tag-vim/vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "tag-vim/vim/bundle/tlib_vim"]
	path = tag-vim/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
