[submodule "tag-vim/config/nvim/bundle/ctrlp.vim"]
	path = tag-vim/config/nvim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "tag-vim/config/nvim/bundle/deoplete.nvim"]
	path = tag-vim/config/nvim/bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "tag-vim/config/nvim/bundle/elm.vim"]
	path = tag-vim/config/nvim/bundle/elm.vim
	url = git@github.com:lambdatoast/elm.vim.git
[submodule "tag-vim/config/nvim/bundle/neocomplete.vim"]
	path = tag-vim/config/nvim/bundle/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "tag-vim/config/nvim/bundle/nerdtree"]
	path = tag-vim/config/nvim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "tag-vim/config/nvim/bundle/supertab"]
	path = tag-vim/config/nvim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "tag-vim/config/nvim/bundle/syntastic"]
	path = tag-vim/config/nvim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "tag-vim/config/nvim/bundle/tabular"]
	path = tag-vim/config/nvim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "tag-vim/config/nvim/bundle/tagbar"]
	path = tag-vim/config/nvim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "tag-vim/config/nvim/bundle/tlib_vim"]
	path = tag-vim/config/nvim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "tag-vim/config/nvim/bundle/vCoolor.vim"]
	path = tag-vim/config/nvim/bundle/vCoolor.vim
	url = git@github.com:KabbAmine/vCoolor.vim.git
[submodule "tag-vim/config/nvim/bundle/vim-airline"]
	path = tag-vim/config/nvim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "tag-vim/config/nvim/bundle/vim-airline-themes"]
	path = tag-vim/config/nvim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "tag-vim/config/nvim/bundle/vim-fugitive"]
	path = tag-vim/config/nvim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "tag-vim/config/nvim/bundle/vim-go"]
	path = tag-vim/config/nvim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "tag-vim/config/nvim/bundle/deoplete-go"]
	path = tag-vim/config/nvim/bundle/deoplete-go
	url = git@github.com:zchee/deoplete-go.git
[submodule "tag-vim/config/nvim/bundle/php.vim"]
	path = tag-vim/config/nvim/bundle/php.vim
	url = git@github.com:StanAngeloff/php.vim.git
[submodule "tag-vim/config/nvim/bundle/vim-hardtime"]
	path = tag-vim/config/nvim/bundle/vim-hardtime
	url = git@github.com:takac/vim-hardtime.git
